{% extends 'base.html.twig' %}

{% block title %}{{ blogpost.title }}{% endblock %}

{% block keywords %}{{ blogpost.title | replace({' ':',','.':''}) | lower }}{% endblock %}

{% block description %}{{ blogpost.article | striptags| slice(0,140) | raw }}{% endblock %}

{% block metarobot %}index,follow{% endblock %}

 {% block ogmetatags %}
     <meta property="og:type" content="article">
     <meta property="og:title" content="{{ blogpost.title }}">
     <meta property="og:url" content="https://nafisulbari.com/blog/{{ blogpost.id }}-{{ blogpost.title | replace({' ':'-','.':''}) | lower}}">
     <meta property="og:image" content="https://nafisulbari.com/assets/cover/{{ blogpost.id }}.jpg">
     <meta property="og:description" content="{{ blogpost.article | striptags| slice(0,140) | raw }}">
     <meta property="article:publisher" content="https://www.facebook.com/nafisulbari1">
     <meta property="og:site_name" content="Nafisul Bari's Blog">
 {% endblock %}

{% block cano %}<link rel="canonical" href="https://nafisulbari.com/blog/{{ blogpost.id }}-{{ blogpost.title | replace({' ':'-','.':''}) | lower}}"/>{% endblock %}

    {% block search %}
        <div class="form-group" id="search-bar"><label for="search-field"><i
                        class="fa fa-search"></i></label><input
                    class="form-control search-field" type="search" name="searchTerm"></div>
    {% endblock %}

{% block body %}


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="article-cont">
                    <div id="article-info">
                        <h1 id="article-title">{{ blogpost.title }}&nbsp;<br>
                        </h1>
                        <p id="article-date">
                            <span id="icon-span"><i class="fa fa-calendar-o d-inline"></i></span>&nbsp; {{ blogpost.dateCreated |date("d F Y") }}
                        </p>
                        <h2 id="article-author"><span
                                    id="icon-span"><i class="fa fa-user-circle"></i></span>&nbsp;
                            Ahmed Nafisul Bari</h2>
                    </div>
                    <div id="cover2-div"><img alt="Blog Cover Image" class="img-fluid"
                                              src="https://source.unsplash.com/random/1140x400/"
                                {#                                              src="{{ asset('assets/cover/') ~blogpost.id~".jpg" }}"#}
                                              id="cover2"></div>
                    <div class="d-block blogpost-article" id="article">

                        <div id="article-para">{{ blogpost.article| raw }}
                        </div>
                        <div id="disqus_thread"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                    <div class=" " id="footer-icons">
                        <a id="footer-icon-link" href="https://www.facebook.com/nafisulbari1" target="_blank"><i class="fa fa-facebook-square" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://www.instagram.com/r47ul" target="_blank"><i class="fa fa-instagram" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://www.linkedin.com/in/ahmed-nafisul-bari-651b23ab" target="_blank"><i class="fa fa-linkedin-square" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://github.com/nafisulbari" target="_blank"><i class="fa fa-github" id="social-icon"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
                    <h3 class="" id="footer-tag">© 2020, Nafisul Bari</h3>
                </div>
            </div>
        </div>
    </footer>
    <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://nafisulbari-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



    <script id="dsq-count-scr" src="//nafisulbari-com.disqus.com/count.js" async></script>

{% endblock %}
