{% extends 'base.html.twig' %}

{% block title %}
    <title> {{ blogpost.title }} - Nafisul Bari's Blog</title>
{% endblock %}

{% block head %}
    <meta name="author" content="Ahmed Nafisul Bari">
    <meta name="keywords" content=" {{ blogpost.title | replace({' ':','}) }}">
    <meta name="description" content="{{ blogpost.article |slice(0,250) |raw }}">
{% endblock %}



{% block body %}


<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:35px;margin-bottom:25px;">
                <div id="article-info">
                    <h1 id="article-title"
                        style="color:#4c4c4c;font-family:Lora, serif;margin-bottom:10px;">{{ blogpost.title }}&nbsp;<br>
                    </h1>
                    <p id="article-date" style="color:#4c4c4c;font-family:Nunito, sans-serif;margin-bottom:2px;">
                            <span id="icon-span" ico-cal=""><i class="fa fa-calendar-o d-inline"
                                                               style="font-size:16px;"></i></span>&nbsp; {{ blogpost.dateCreated |date("d F Y") }}
                    </p>
                    <h1 id="article-author" style="color:#4c4c4c;font-family:Lora, serif;width:65%;"><span
                                id="icon-span"><i class="fa fa-user-circle" style="font-size:16px;"></i></span>&nbsp;
                        Ahmed Nafisul Bari</h1>
                </div>
                <div id="cover2-div"><img class="img-fluid" src="{{ asset('assets/cover/') ~blogpost.id~".jpg" }}"
                                          id="cover2" style="max-width:1140px;height:auto;"></div>
                <div class="d-block blogpost-article" id="article">

                    <p id="article-para" style="color:#4c4c4c;font-family:Nunito, sans-serif;margin-bottom:16px;">


                        {# <span id="first-let" style="font-family:Nunito, sans-serif;">{{ blogpost.article| raw | slice(0,1) }}</span> #}

                        {{ blogpost.article| raw }}
                        <br>
                    </p>
                    <div id="disqus_thread"></div>

                </div>
            </div>
        </div>
    </div>

</div>

    <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://nafisulbari-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>


    <script id="dsq-count-scr" src="//nafisulbari-com.disqus.com/count.js" async></script>
    {% endblock %}
