{% extends 'base.html.twig' %}

{% block title %}{{ selectedCat }} - Nafisul Bari's Blog{% endblock %}

{% block keywords %}Ahmed Nafisul Bari,Nafisul Bari,Nafisul Bari Blog,Blog,{{ selectedCat }}{% endblock %}

{% block description %}Blog of Ahmed Nafisul Bari.
    An occasional blog writer.
    Tech, Science, Computer Programming, Games are some of the blogs that are found here. {{ selectedCat }}{% endblock %}

{% block cano %}
{% if selectedCat == "Featured Blogs" %}
<link rel="canonical" href="https://nafisulbari.com/blog"/>
{% endif %}
{% endblock %}


{% block search %}
        <div class="form-group" id="search-bar"><label for="search-field"><i
                        class="fa fa-search"></i></label><input
                    class="form-control search-field" type="search" name="searchTerm"></div>
{% endblock %}


{% block blogactive %}active{% endblock %}
{% block body %}



    <div>
        <div class="container" id="main-cont">
            <div class="row no-gutters" id="main-row">
                <div class="col-lg-8">
                    <div id="headh1-div">
                        <h1 class="text-monospace text-uppercase" id="headh1">{{ selectedCat }}</h1>
                    </div>
                    {% if blogs is empty %}
                        <p class="text-monospace" id="blog-para">No articles found</p>
                    {% endif %}

                    {% for  blog in blogs %}
                        <div class="row" id="blogs">
                            <div class="col">
                                <div class="d-flex align-content-center" id="blog-sample-div">

                                    <div class="container">
                                        <div class="row">

                                            <div class="col-sm-4" id="blog-thumb-div">
                                                <img class="img-fluid"
                                                        {#        src="{{ asset('assets/cover/') ~blog.id~".jpg" }}"#}
                                                     src="https://source.unsplash.com/random/1140x400/"
                                                     id="blog-thumbnail"
                                                     alt="Cover Image">
                                            </div>
                                            <div class="col-sm" id="demo-article"><a
                                                        href="/blog/{{ blog.id }}-{{ blog.title | lower | replace({' ':'-','.':''}) }}"
                                                        id="blog-title">{{ blog.title }}<br></a>
                                                <p class="text-monospace" id="blog-para">
                                                    {{ blog.article | striptags| slice(0,100) | raw }}...<br>
                                                    <a id="seemore" href="/blog/{{ blog.id }}-{{ blog.title | lower | replace({' ':'-','.':''}) }}">See
                                                        More<i class="fa fa-external-link" id="seemore-arrow"></i></a><br></p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    {% endfor %}
                    <div>
                        <nav class="d-flex justify-content-center navigation" id="pagi">


                            {{ knp_pagination_render(blogs) }}


                        </nav>
                    </div>
                </div>
                <div class="col-lg-4"
                     style="margin-left:0px;padding-left:30px;">
                    <div class="row">
                        <div class="col" id="cat-col">
                            <div class="d-block" id="cat-section">
                                <h2 class="text-uppercase" id="headh1">
                                    CATEGORIES</h2>
                                <div class="cats">

                                    {% for  cat in cats %}
                                        <div class="d-flex"><i class="fa fa-folder-open-o" id="cat-icon"></i><a
                                                    href="/category/{{ cat.id }}-{{ cat.name | replace({' ':'-'}) | lower }}"
                                                    id="cat-litem-ink">{{ cat.name }}</a>
                                        </div>




                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="footer">
        <h3 class="text-center" id="footer-tag">© 2020, Nafisul Bari</h3>
    </footer>
{% endblock %}

