{% extends 'base.html.twig' %}

{% block title %}{{ selectedCat }} - Nafisul Bari's Blog{% endblock %}

{% block keywords %}Ahmed Nafisul Bari,Nafisul Bari,Nafisul Bari Blog,Blog,{{ selectedCat }}{% endblock %}

{% block description %}Blog of Ahmed Nafisul Bari.
    An occasional blog writer.
    Tech, Science, Computer Programming, Games are some of the blogs that are found here. {{ selectedCat }}{% endblock %}
{% block metarobot %}index,follow{% endblock %}
{% block ogmetatags %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ selectedCat }} - Nafisul Bari's Blog">
    <meta property="og:url" content="https://nafisulbari.com/blog">
    <meta property="og:image" content="https://nafisulbari.com{{ asset('assets/android-chrome-192x192.png') }}">
    <meta property="og:description" content="Blog of Ahmed Nafisul Bari.
    An occasional blog writer.
    Tech, Science, Computer Programming, Games are some of the blogs that are found here. {{ selectedCat }}">
    <meta property="og:site_name" content="Nafisul Bari's Blog">
{% endblock %}
{% block cano %}
    {% if selectedCat == "Featured Blogs" %}
        <link rel="canonical" href="https://nafisulbari.com/blog"/>
    {% endif %}

{% endblock %}


{% block search %}
    <div class="form-group" id="search-bar"><label for="search-field"><i
                    class="fa fa-search"></i></label><input
                class="form-control search-field" type="search" name="searchTerm"></div>
{% endblock %}


{% block blogactive %}active{% endblock %}
{% block body %}



    <div>
        <div class="container" id="main-cont">
            <div class="row no-gutters" id="main-row">
                <div class="col-lg-8">
                    <div id="headh1-div">
                        <h1 class="text-monospace text-uppercase" id="headh1">{{ selectedCat }}</h1>
                    </div>
                    {% if blogs is empty %}
                        <p class="text-monospace" id="blog-para">No articles found</p>
                    {% endif %}

                    {% for  blog in blogs %}
                        <div class="row" id="blogs">
                            <div class="col">
                                <div class="d-flex align-content-center" id="blog-sample-div">

                                    <div class="container">
                                        <div class="row">

                                            <div class="col-sm-4" id="blog-thumb-div">
                                                <img class="img-fluid"
                                                     src="https://source.unsplash.com/random/1140x400/"
                                                        {#      src="{{ asset('assets/cover/') }}{{ blog.id }}-{{ blog.title | replace({' ':'-'}) | lower }}.jpg"    #}
                                                     id="blog-thumbnail"
                                                     alt="{{ blog.title }} image">
                                            </div>
                                            <div class="col-sm" id="demo-article"><h3 id="blog-title-h3"><a
                                                            href="/blog/{{ blog.id }}-{{ blog.title | lower | replace({' ':'-','.':''}) }}"
                                                            id="blog-title">{{ blog.title }}</h3></a>
                                                <p class="text-monospace" id="blog-para">
                                                    {{ blog.article | striptags| slice(0,100) | raw }}...<br>
                                                    <a id="seemore"
                                                       href="/blog/{{ blog.id }}-{{ blog.title | lower | replace({' ':'-','.':''}) }}">See
                                                        More<i class="fa fa-external-link"
                                                               id="seemore-arrow"></i></a><br></p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    {% endfor %}
                    <div>
                        <nav class="d-flex justify-content-center navigation" id="pagi">


                            {{ knp_pagination_render(blogs) }}


                        </nav>
                    </div>
                </div>
                <div class="col-lg-4"
                     style="margin-left:0px;padding-left:30px;">
                    <div class="row">
                        <div class="col" id="cat-col">
                            <div class="d-block" id="cat-section">
                                <h2 class="text-uppercase" id="headh1-cat">
                                    CATEGORIES</h2>
                                <div class="cats">

                                    {% for  cat in cats %}
                                        <div class="d-flex"><i class="fa fa-folder-open-o" id="cat-icon"></i><a
                                                    href="/category/{{ cat.id }}-{{ cat.name | replace({' ':'-'}) | lower }}"
                                                    id="cat-litem-ink">{{ cat.name }}</a>
                                        </div>




                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                    <div class=" " id="footer-icons">
                        <a id="footer-icon-link" href="https://www.facebook.com/nafisulbari1" target="_blank"
                           rel="noopener noreferrer"><i class="fa fa-facebook-square" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://www.instagram.com/r47ul" target="_blank"
                           rel="noopener noreferrer"><i class="fa fa-instagram" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://www.linkedin.com/in/ahmed-nafisul-bari-651b23ab"
                           target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square"
                                                                        id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://github.com/nafisulbari" target="_blank"
                           rel="noopener noreferrer"><i class="fa fa-github" id="social-icon"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
                    <h3 class="" id="footer-tag">© 2020, Nafisul Bari</h3>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

