{% extends 'base.html.twig' %}
{% block title %}
    <title> {{ selectedCat }} - Nafisul Bari's Blog</title>
{% endblock %}

{% block head %}
    <meta name="author" content="Ahmed Nafisul Bari">
    <meta name="keywords" content="{{ selectedCat }} blogs in Nafisul Bari's Blog">
    <meta name="description" content="Hi there, I am Ahmed Nafisul Bari.
A freelance backend web developer from Bangladesh.
I am an occasional blog writer.
Tech, Science, Games are some of the things I fancy. Find {{ selectedCat }} blogs here.">

{% endblock %}
{% block body %}

    <div>
        <div class="container" id="main-cont">
            <div class="row no-gutters" id="main-row">
                <div class="col-md-6" id="column-left" style="max-width:auto;">
                    <div id="headh1-div">
                        <h1 class="text-monospace text-uppercase" id="headh1"
                            style="font-family:Lora, serif;color:#4c4c4c;">{{ selectedCat }}</h1>
                    </div>

                    {% for  blog in blogs %}
                        <div class="row" id="blogs">
                            <div class="col" style="width:70%;">
                                <div class="d-flex align-content-center" id="blog-sample-div">

                                    <div class="container">
                                        <div class="row">

                                            <div class="col-sm-4" id="blog-thumb-div">
                                                <img class="img-fluid"
                                                        {#        src="{{ asset('assets/cover/') ~blog.id~".jpg" }}"#}
                                                     src="https://source.unsplash.com/random/1140x500/"
                                                     id="blog-thumbnail"
                                                     alt="Cover Image">
                                            </div>
                                            <div class="col-sm" id="demo-article" style="margin-left:0px;"><a
                                                        href="/blog/{{ blog.id }}-{{ blog.title | replace({' ':'-'}) }}"
                                                        id="blog-title"
                                                        style="font-family:Lora, serif;">{{ blog.title }}<br></a>
                                                <p class="text-monospace" id="blog-para"
                                                   style="font-family:Nunito, sans-serif;color:#585858;">
                                                    {{ blog.article | striptags| slice(0,100) | raw }}...
                                                    <a href="/blog/{{ blog.id }}-{{ blog.title | replace({' ':'-'}) }}"
                                                       style="padding-right:0px;">See
                                                        More<i class="fa fa-external-link" id="seemore-arrow"
                                                               style="font-size:15px;"></i></a><br></p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    {% endfor %}
                    <div>
                        <nav class="d-flex justify-content-center navigation" id="pagi"
                             style="font-family:Lora, serif;margin-top:40px;">


                            <ul class="pagination">
                                {{ knp_pagination_render(blogs) }}
                            </ul>


                        </nav>
                    </div>
                </div>
                <div class="col-md-6" id="column-right"
                     style="width:30%;max-width:auto;margin-left:0px;padding-left:30px;">
                    <div class="row">
                        <div class="col" id="cat-col">
                            <div class="d-block" id="cat-section" style="margin-top:108px;">
                                <h2 class="text-uppercase" id="headh1" style="font-family:Lora, serif;font-size:22px;">
                                    CATEGORIES</h2>
                                <div class="cats" style="padding-left:10px;">

                                    {% for  cat in cats %}
                                        <div class="d-flex"
                                             style="margin-bottom:5px;"><i class="fa fa-folder-open-o" id="cat-icon"
                                                                           style="margin-right:10px;margin-left:0px;padding-right:0px;"></i><a
                                                    href="/category/{{ cat.id }}-{{ cat.name | replace({' ':'-'})}}" id="cat-litem-ink"
                                                    style="font-family:Nunito, sans-serif;color:#585858;">{{ cat.name }}</a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <footer id="footer">
        <h3 class="text-center" id="footer-tag" style="font-family:'Nunito Sans', sans-serif;color:rgb(88,88,88);font-size:16px;"><br>© 2020, Nafisul Bari<br><br></h3>
    </footer>


{% endblock %}


