<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



        <link rel="stylesheet" type="text/css" href="{{ asset('vendors/css/grid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendors/css/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendors/css/animate.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Work+Sans&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/queries.css') }}">

    {% block stylesheets %}
    {% endblock %}


    <title>{% block title %} hh {% endblock %}</title>


    {% block tinymce %}

    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>
<nav>
    <div class="row">
        <ul class="main-nav-left">
            <li><a href="#home">Nafisul Bari</a></li>
        </ul>
        <ul class="main-nav-right">
            <li><a href="/">Home</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>





{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
