{% extends 'base.html.twig' %}

{% block body %}

    <h1>Blog page</h1>
    </br>
    <h2>Categories</h2>
    <ul>
        {% for  cat in cats %}
            <li> {{ cat.name }}</li>
            </br>
        {% endfor %}
    </ul>
    </br>

    <h2>Featured Blogs</h2>
    {% for  blog in blogs %}
        <ul>
            <li> {{ blog.id }}</li>
            <li> {{ blog.category.name }}</li>
            <li><a href="blog/post/{{ blog.id }}">{{ blog.title }}</a></li>
            <li> {{ blog.article }}</li>
        </ul>
    {% endfor %}
{% endblock %}