{% extends 'base.html.twig' %}

{% block body %}

    <h1>Search</h1>
    <form action="/blogs/search" method="GET">

        <input type="text" name="searchTerm" value="" placeholder="search..."> <br>

        <input type="submit" value="SEARCH">
    </form>

    <h1>Blog page</h1>

    <h2>Categories</h2>
    <ul>
        {% for  cat in cats %}
            <li><a href="/blogs/{{ cat.id }}">{{ cat.name }}</a></li>



        {% endfor %}
    </ul>

    <h2>Featured Blogs</h2>
    {% for  blog in blogs %}
        <ul>
            <li> {{ blog.id }}</li>
            <li> {{ blog.category.name }}</li>
            <li><a href="blog/post/{{ blog.id }}#disqus_thread">{{ blog.title }}</a></li>
            <li> {{ blog.article }}</li>
        </ul>
    {% endfor %}
{% endblock %}