{% extends 'base.html.twig' %}

{% block body %}

    <h1>Blog page</h1>
    </br>
    <h2>Categories</h2>
    <ul>
        {% for  c in cats %}
            <li> {{ c.category }}</li>
            </br>
        {% endfor %}
    </ul>
    </br>

    <h2>Featured Blogs</h2>
    <ul>
        {% for  blog in blogs %}
            <li> {{ blog.id }}</li>
            <li> {{ blog.category }}</li>
            <li> {{ blog.title }}</li>
            <li> {{ blog.article }}</li>
            </br>
        {% endfor %}
    </ul>

{% endblock %}