{% extends 'base.html.twig' %}

{% block body %}

    <h1>My blogs</h1>

    <h2>Categories</h2>
{#    <ul>#}
{#        {% for  cat in cats %}#}
{#            <li> {{ cat.name }}</li>#}
{#            </br>#}
{#        {% endfor %}#}
{#    </ul>#}


    <h2>Blogs with category XXX</h2>
    {% for  blog in blogs %}
        <ul>
            <li> {{ blog.id }}</li>

            <li><a href="/blog/post/{{ blog.id }}#disqus_thread">{{ blog.title }}</a></li>

        </ul>
    {% endfor %}




    <div class="navigation">
        {{ knp_pagination_render(blogs) }}
    </div>
{% endblock %}


